:root {
    --color-1: #000;
    --color-2: #fff;
    --color-3: #239bdb;
    --color-4: #db237066;
    --color-5: #239bdb66;
    --color-6: #ccc;
}
@media (prefers-color-scheme: dark) {
    :root {
    --color-1: #fff;
    --color-2: #000;
    --color-3: #db2370;
    --color-4: #239bdb66;
    --color-5: #db237066;
    --color-6: #333;
    }
}
.light {
    --color-1: #000 !important;
    --color-2: #fff !important;
    --color-3: #239bdb !important;
    --color-4: #db237066 !important;
    --color-5: #239bdb66 !important;
    --color-6: #ccc !important;
}
.dark {
    --color-1: #fff !important;
    --color-2: #000 !important;
    --color-3: #db2370 !important;
    --color-4: #239bdb66 !important;
    --color-5: #db237066 !important;
    --color-6: #333 !important;
}
.hidden {
    display: none !important
}
:disabled {
    cursor: default !important
}
:focus {
    outline: 2px solid var(--color-3)
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    flex-shrink: 0
}
body {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    overflow-y: auto;
    background: var(--color-2)
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: radial-gradient(var(--color-3), transparent)
}
h1 {
    color: var(--color-1);
    font-size: 35px;
    margin: 4px 0 10px;
    z-index: -1
}
h2 {
    font-size: 25px;
    color: var(--color-3);
    margin-bottom: 8px;
    padding: 3px 0;
    border-radius: 4px
}
h3 {
    color: var(--color-1);
    font-size: 40px;
    margin: 20px 0 10px;
    z-index: 5
}
h3::after {
    font-size: 25px;
    content: ' days'
}
h4 {
    color: var(--color-1);
    font-size: 20px;
    margin-bottom: 50px;
    z-index: 5;
    word-break: break-all
}
nav {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    background: var(--color-1);
    box-shadow: 0 0 10px 1px var(--color-2);
    border-top-right-radius: 10px;
    padding: 5px 4px
}
nav button {
    font-size: 24px;
    background: none;
    border: none;
    color: var(--color-2);
    padding: 4px 2px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .2s, color .2s
}
nav button:hover {
    color: var(--color-3);
    transform: scale(1.2)
}
main.hidden {
    display: flex !important;
    background: none
}
main.hidden h4 {
    display: none
}
main.hidden h3 {
    visibility: hidden
}